.wrap-all {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-top: 3rem;
}
.card-container {
  margin-top: 3rem;
}
.card-ul {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.3rem;
  list-style: none;
}

.card-li {
  width: 70px;
  height: 70px;
}

.cover,
.cover-flipped {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.cover {
  background: url("../images/bg1.jpg") no-repeat center;
  background-attachment: fixed;
}
.cover-flipped {
  transform: rotateY(180deg);
}
.cover-flipped img {
  width: 100%;
  height: 100%;
  display: block;
}
.flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}
.card-li:hover .flip-container {
  transform: rotateY(180deg);
}
